<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,358},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,180},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feda93c60ed5d76abcf04d5e8a287585:1/1$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
